APP_NAME=Roamly API
ENVIRONMENT=development
DEBUG=true
API_V1_PREFIX=/api/v1

POSTGRES_USER=roamly
POSTGRES_PASSWORD=DJDu5033
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=roamly

FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json
FIREBASE_STORAGE_BUCKET=

GOOGLE_PLACES_API_KEY=your_real_google_places_key

WEATHER_API_KEY=
WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5